<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frank McFires</key>
	<real>234</real>
	<key>Humphrey Chau</key>
	<real>-15.714285714285779</real>
	<key>Liam Babbit</key>
	<real>163.71428571428578</real>
	<key>Mantas Jarusevcius</key>
	<real>-112.28571428571422</real>
	<key>Paul Blazey</key>
	<real>-102</real>
	<key>Ryusuke Kubo</key>
	<real>30.571428571428669</real>
	<key>Thomas Lane</key>
	<real>-55.714285714285779</real>
	<key>Tibor Horvath</key>
	<real>7.7142857142857792</real>
	<key>Winstorm Guo</key>
	<real>-23.714285714285779</real>
</dict>
</plist>
