<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Paul Blazey</key>
	<real>-63</real>
	<key>Thomas Lane</key>
	<real>174</real>
	<key>Tibor Horvath</key>
	<real>36</real>
</dict>
</plist>
