<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frank McFires</key>
	<real>186</real>
	<key>Liam Babbit</key>
	<real>-24</real>
	<key>Mantas Jarusevcius</key>
	<real>-110</real>
	<key>Paul Blazey</key>
	<real>-103</real>
	<key>Ryusuke Kubo</key>
	<real>39</real>
	<key>Thomas Lane</key>
	<real>-55</real>
	<key>Tibor Horvath</key>
	<real>16</real>
	<key>Winstorm Guo</key>
	<real>-1</real>
</dict>
</plist>
