<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frank McFires</key>
	<real>251.42857142857133</real>
	<key>Humphrey Chau</key>
	<real>-15.714285714285779</real>
	<key>Liam Babbit</key>
	<real>-24.85714285714289</real>
	<key>Mantas Jarusevcius</key>
	<real>-112.28571428571422</real>
	<key>Paul Blazey</key>
	<real>-98.571428571428669</real>
	<key>Ryusuke Kubo</key>
	<real>38.285714285714221</real>
	<key>Thomas Lane</key>
	<real>-55.714285714285779</real>
	<key>Tibor Horvath</key>
	<real>10.85714285714289</real>
	<key>Winstorm Guo</key>
	<real>-18</real>
</dict>
</plist>
