<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Paul Blazey</key>
	<string>https://www.parkrun.org.uk/parkrunner/146116/all</string>
	<key>Thomas Lane</key>
	<string>https://www.parkrun.org.uk/parkrunner/516690/all/</string>
	<key>Tibor Horvath</key>
	<string>https://www.parkrun.ca/parkrunner/2714789/all/</string>
	<key>Ryusuke Kubo</key>
	<string>https://www.parkrun.ca/parkrunner/3681626/all/</string>
	<key>Frank McFires</key>
	<string>https://www.parkrun.ca/parkrunner/5720847/all/</string>
	<key>Winstorm Guo</key>
	<string>https://www.parkrun.ca/parkrunner/4157057/all/</string>
	<key>Mantas Jarusevcius</key>
	<string>https://www.parkrun.ca/parkrunner/4534025/all/</string>
	<key>Liam Babbit</key>
	<string>https://www.parkrun.ca/parkrunner/6375645/all/</string>
</dict>
</plist>
