<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Handicap</key>
		<real>261.71428571428578</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Frank McFires</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Score</key>
		<real>1173.2857142857142</real>
		<key>Time</key>
		<string>24:25</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>26.85714285714289</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Ryusuke Kubo</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Score</key>
		<real>1198.1428571428571</real>
		<key>Time</key>
		<string>20:25</string>
	</dict>
</array>
</plist>
