<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Handicap</key>
		<real>12</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Tibor Horvath</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Score</key>
		<real>1141</real>
		<key>Time</key>
		<string>19:43</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>-29.14285714285711</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Humphrey Chau</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Score</key>
		<real>1182.1428571428571</real>
		<key>Time</key>
		<string>19:13</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>218.28571428571422</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Frank McFires</string>
		<key>Rank</key>
		<integer>3</integer>
		<key>Score</key>
		<real>1235.7142857142858</real>
		<key>Time</key>
		<string>24:44</string>
	</dict>
</array>
</plist>
