<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Handicap</key>
		<real>30.571428571428669</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Ryusuke Kubo</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Score</key>
		<real>1150.4285714285713</real>
		<key>Time</key>
		<string>19:41</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>-55.714285714285779</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Thomas Lane</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Score</key>
		<real>1196.7142857142858</real>
		<key>Time</key>
		<string>19:31</string>
	</dict>
</array>
</plist>
