<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Handicap</key>
		<real>-98.571428571428669</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Paul Blazey</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Score</key>
		<real>1121.5714285714287</real>
		<key>Time</key>
		<string>17:33</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>251.42857142857133</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Frank McFires</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Score</key>
		<real>1141.5714285714287</real>
		<key>Time</key>
		<string>23:43</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>34.285714285714221</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Ryusuke Kubo</string>
		<key>Rank</key>
		<integer>3</integer>
		<key>Score</key>
		<real>1141.7142857142858</real>
		<key>Time</key>
		<string>19:36</string>
	</dict>
</array>
</plist>
