<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Handicap</key>
		<real>15.428571428571331</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Tibor Horvath</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Score</key>
		<real>1132.5714285714287</real>
		<key>Time</key>
		<string>19:38</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>186.28571428571422</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Frank McFires</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Score</key>
		<real>1342.7142857142858</real>
		<key>Time</key>
		<string>25:59</string>
	</dict>
</array>
</plist>
