<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Handicap</key>
		<real>27.714285714285779</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Ryusuke Kubo</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Score</key>
		<real>1162.2857142857142</real>
		<key>Time</key>
		<string>19:50</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>18</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Humphrey Chau</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Score</key>
		<real>1252</real>
		<key>Time</key>
		<string>21:40</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>7.7142857142857792</real>
		<key>Location</key>
		<string>Spanish Banks</string>
		<key>Name</key>
		<string>Tibor Horvath</string>
		<key>Rank</key>
		<integer>3</integer>
		<key>Score</key>
		<real>1369.2857142857142</real>
		<key>Time</key>
		<string>23:27</string>
	</dict>
</array>
</plist>
