<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Handicap</key>
		<real>26.85714285714289</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Ryusuke Kubo</string>
		<key>Rank</key>
		<integer>1</integer>
		<key>Score</key>
		<real>1151.1428571428571</real>
		<key>Time</key>
		<string>19:38</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>-99.14285714285711</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Mantas Jarusevcius</string>
		<key>Rank</key>
		<integer>2</integer>
		<key>Score</key>
		<real>1156.1428571428571</real>
		<key>Time</key>
		<string>17:37</string>
	</dict>
	<dict>
		<key>Handicap</key>
		<real>248.28571428571422</real>
		<key>Location</key>
		<string>Richmond Olympic</string>
		<key>Name</key>
		<string>Frank McFires</string>
		<key>Rank</key>
		<integer>3</integer>
		<key>Score</key>
		<real>1302.7142857142858</real>
		<key>Time</key>
		<string>25:51</string>
	</dict>
</array>
</plist>
