<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frank McFires</key>
	<dict>
		<key>Caterpillars</key>
		<integer>2</integer>
		<key>Crowns</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>251.4285714285713</real>
		<key>Last120d</key>
		<integer>10</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Humphrey Chau</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>0</integer>
		<key>Handicap</key>
		<real>-15.71428571428578</real>
		<key>Last120d</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Liam Babbit</key>
	<dict>
		<key>Caterpillars</key>
		<integer>1</integer>
		<key>Crowns</key>
		<integer>0</integer>
		<key>Handicap</key>
		<real>-24.85714285714289</real>
		<key>Last120d</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Mantas Jarusevcius</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>2</integer>
		<key>Handicap</key>
		<real>-112.2857142857142</real>
		<key>Last120d</key>
		<integer>3</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Paul Blazey</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>-98.57142857142867</real>
		<key>Last120d</key>
		<integer>4</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Ryusuke Kubo</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>38.28571428571422</real>
		<key>Last120d</key>
		<integer>12</integer>
		<key>Points</key>
		<integer>1</integer>
	</dict>
	<key>Thomas Lane</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>0</integer>
		<key>Handicap</key>
		<real>-55.71428571428578</real>
		<key>Last120d</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Tibor Horvath</key>
	<dict>
		<key>Caterpillars</key>
		<integer>3</integer>
		<key>Crowns</key>
		<integer>3</integer>
		<key>Handicap</key>
		<real>10.85714285714289</real>
		<key>Last120d</key>
		<integer>11</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Winstorm Guo</key>
	<dict>
		<key>Caterpillars</key>
		<integer>2</integer>
		<key>Crowns</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>-18</real>
		<key>Last120d</key>
		<integer>7</integer>
		<key>Points</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
