<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frank McFires</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>0</integer>
		<key>Handicap</key>
		<real>218.2857142857142</real>
		<key>Last120d</key>
		<integer>10</integer>
		<key>Points</key>
		<integer>2</integer>
	</dict>
	<key>Liam Babbit</key>
	<dict>
		<key>Caterpillars</key>
		<integer>1</integer>
		<key>Crowns</key>
		<integer>0</integer>
		<key>Handicap</key>
		<real>-24.85714285714289</real>
		<key>Last120d</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>2</integer>
	</dict>
	<key>Mantas Jarusevcius</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>2</integer>
		<key>Handicap</key>
		<real>-110.2857142857142</real>
		<key>Last120d</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
	</dict>
	<key>Paul Blazey</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>-103.7142857142858</real>
		<key>Last120d</key>
		<integer>3</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Ryusuke Kubo</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>39.14285714285711</real>
		<key>Last120d</key>
		<integer>13</integer>
		<key>Points</key>
		<integer>5</integer>
	</dict>
	<key>Thomas Lane</key>
	<dict>
		<key>Caterpillars</key>
		<integer>0</integer>
		<key>Crowns</key>
		<integer>0</integer>
		<key>Handicap</key>
		<real>-55.71428571428578</real>
		<key>Last120d</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>2</integer>
	</dict>
	<key>Tibor Horvath</key>
	<dict>
		<key>Caterpillars</key>
		<integer>3</integer>
		<key>Crowns</key>
		<integer>3</integer>
		<key>Handicap</key>
		<real>12</real>
		<key>Last120d</key>
		<integer>10</integer>
		<key>Points</key>
		<integer>0</integer>
	</dict>
	<key>Winstorm Guo</key>
	<dict>
		<key>Caterpillars</key>
		<integer>2</integer>
		<key>Crowns</key>
		<integer>1</integer>
		<key>Handicap</key>
		<real>-0.2857142857142208</real>
		<key>Last120d</key>
		<integer>6</integer>
		<key>Points</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
